.alert
    background-color #FCF0E3
    border 1px solid darken(#FCF0E3, 15%)
    padding 3em
    margin-top 2em
    margin-bottom 2em
    h5
        color darken(#FCF0E3, 75%)
        margin-bottom 1.8em
        .fa
            font-size 80%

    p
        font-size $smallFontSize
        color darken(#FCF0E3, 65%)
        margin-bottom 0
        + p
            margin-top 0.8em
    &.blue
        background-color #D7E8FF
        border 1px solid darken(#D7E8FF, 15%)
        h5
            color darken(#D7E8FF, 75%)
        p
            color darken(#D7E8FF, 65%)

    .hide
        display none