
.hero
    width 100%
    text-align center
    position relative
    height 65%
    min-height 400px

    &.narrow
        padding-top 9em
        padding-bottom 9em

    > .copy
        display table
        width 100%
        position absolute
        top 45%
        left 0
        right 0
        bottom 0
        transform translate(0, -50%)
        text-align center

    h1, h3, p
        color #4D4D4D
        color #fff
        text-align center

    h1
        margin 0
        font-size 5em
        line-height 1

    h3
        font-size 1.4em
        color fade-out(#fff, 0.2)
        font-weight 100

