

// layout and responsive variables
$bp-mobile-small = "screen and (max-width: 480px)";
$bp-mobile = "screen and (max-width: 767px)";
$bp-tablet = "screen and (min-width: 768px)";
$bp-desktop = "screen and (min-width: 998px)";
$bp-desktop-wide = "screen and (min-width: 1200px)";


// colors

// gear site colors
$orange = #C94B2E;
$blue = #3469B1;
$green = #6B9B54;

$lightGreyBg = #FCFDFD
$lightGreyBorder = #EBF0F0

//type colors
$textColor = #898989;
$headlineColor = #000;
$linkColor = #a6e22e;
$linkColorHover = lighten($linkColor, 10)


$darkBGColor = #1A222B;


// typography

$baseFontSize = 1.4em
$smallFontSize = 1.2em
$largeFontSize = 1.6em

$bodyFont
    font-family 'Lato', sans-serif
    font-weight 300

$lato
    font-family 'Lato', sans-serif

$alegreya
    font-family 'Alegreya Sans SC', sans-serif
    font-weight 100
    text-transform lowercase

